version: '3.9'
services:
  db:
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_DB: halalpin_db
      POSTGRES_USER: halalpin
      POSTGRES_PASSWORD: supersecret
    ports:
      - '5432:5432'
    volumes:
      - dbdata:/var/lib/postgresql/data
  backend:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - '8000:8000'
    environment:
      - DEBUG=1
      - DJANGO_SETTINGS_MODULE=halalpin.settings
      - DATABASE_URL=postgres://halalpin:supersecret@db:5432/halalpin_db
    depends_on:
      - db
volumes:
  dbdata:
